apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: urlshortener
  labels:
    app: postgres
    tier: infrastructure
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgres
