apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: urlshortener
  labels:
    app: kafka
    tier: infrastructure
spec:
  type: ClusterIP
  clusterIP: None
  ports:
  - port: 29092
    targetPort: 29092
    protocol: TCP
    name: internal
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-bootstrap
  namespace: urlshortener
  labels:
    app: kafka
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
  selector:
    app: kafka
