apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: url-lifecycle-events
  namespace: urlshortener
  labels:
    strimzi.io/cluster: url-shortener-kafka
spec:
  partitions: 3
  replicas: 1
  config:
    retention.ms: 604800000
    segment.ms: 3600000
    compression.type: snappy
    cleanup.policy: delete
    min.insync.replicas: 1
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: url-access-events
  namespace: urlshortener
  labels:
    strimzi.io/cluster: url-shortener-kafka
spec:
  partitions: 6
  replicas: 1
  config:
    retention.ms: 604800000
    segment.ms: 3600000
    compression.type: snappy
    cleanup.policy: delete
    min.insync.replicas: 1
