apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: analytics-service-pdb
  namespace: urlshortener
  labels:
    app: analytics-service
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: analytics-service
