apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: urlshortener
  labels:
    app: analytics-service
    tier: application
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: analytics-service
