apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: urlshortener

resources:
  - ../../base
  - ../../config
  - ../../infrastructure/postgres
  - ../../infrastructure/redis
  - ../../infrastructure/kafka-strimzi
  - ../../services/url-service
  - ../../services/analytics-service
  - ../../services/api-gateway
  - ../../services/frontend
  - ../../ingress

labels:
  - pairs:
      environment: production

patches:
  # Update storage class to fast-ssd for production
  - target:
      kind: PersistentVolumeClaim
    patch: |-
      - op: replace
        path: /spec/storageClassName
        value: fast-ssd

images:
  - name: url-shortener/url-service
    newTag: v1.0.0
  - name: url-shortener/analytics-service
    newTag: v1.0.0
  - name: url-shortener/api-gateway
    newTag: v1.0.0
  - name: url-shortener/frontend
    newTag: v1.0.0
